#home {
    width: 100%;
    height: 90vh;
    display: flex;
  
    >section {
      width: 100%;
  
      &:first-of-type {
        padding-left: 8vmax;
  
  
  
        >div {
  
          height: 100%;
          padding-top: 6rem;
  
          >h1 {
            font: 900 4rem "Roboto", sans-serif;
          }
  
          .typewriterpara {
            margin: 20px 0;
            height: 20px;
            letter-spacing: 5px;
          }
  
          .btn {
            padding: 10px 30px;
            background-color: #5fa3f0b7;
            color: #ffffff;
            font-weight: bold;
            border-radius: 1%;
            transition: 0.4s;
            box-shadow: 5px 5px 20px #292b46;
  
  
            &:hover {
              background-color: #2187ed;
              scale: 1.05;
              cursor: pointer;
            }
          }
  
  
  
          >div {
            display: flex;
            margin: 5rem 0;
            width: 70%;
            gap: 4rem;
            align-items: center;
  
            >a {
              &:first-of-type {
                background-color:  #5fa3f0b7;
                color: #202027;
                padding: 1rem 2.5rem;
                transition: all 0.3s;
  
                &:hover {
                  background-color: #ad4126;
                }
              }
  
              &:last-of-type {
                font: 600 1.2rem "Open Sans", sans-serif;
                color: #292b46;
                display: flex;
                align-items: center;
              }
            }
          }
  
          aside {
            display: flex;
            justify-content: space-between;
            width: 70%;
          }
  
          article {
            margin: 2rem 0;
            width: 10rem;
            color: #292b46;
            position: relative;
  
            &::after {
              content: "";
              background-color: rgb(0, 0, 0);
              width: 100%;
              height: 5rem;
              border-radius: 50px;
              position: absolute;
              top: 20%;
              left: 20%;
              z-index: -1;
            }
  
            >p {
              font: 900 2rem "Roboto", sans-serif;
            }
  
            >span {
              font: 500 1rem "Open Sans", sans-serif;
            }
          }
  
          article[data-special] {
            width: 16rem;
          }
        }
      }
  
      &:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow-x: hidden;
  
        &::after {
          content: "";
          width: 40vmax;
          height: 40vmax;
          background-color: #5fa3f0b7;
          border: 5px solid white;
          box-shadow: inset 0 0 10px;
          position: absolute;
          z-index: -1;
          border-radius: 50%;
        }
  
        >img {
          width: 40vmax;
          object-fit: contain;
          height: 40vmax;
          border-radius: 50%;
          border: 5px solid white;
          box-shadow: 0 0 10px black;
        }
      }
    }
  }